meta(name="viewport", content="width=device-width, initial-scale=1")
link(href="/libs/images/includes/favicon.ico" rel="short icon" type="image/x-icon")
link(href="/libs/css/include/header.min.css" rel="stylesheet")
link(href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
script(src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js")
script(src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js")
script(src="//cdn.bootcss.com/jquery-validate/1.14.0/jquery.validate.min.js")
script(src="/libs/scripts/js/user/user_main.min.js")