head
  meta(name="renderer" content="webkit")
  meta(name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no")
  title #{title}
  link(href="/libs/images/includes/favicon.ico" rel="short icon" type="image/x-icon")
  link(href="/libs/css/music/music_play.min.css" rel="stylesheet")
body
  header
    h1 ☁️瓣音乐
    ul.type#type
      li.selected(data-type="dot") Dot
      li(data-type="column") Column
    p Volume&nbsp;
      input#volume(type="range" min="0" max="100" value="60")
    .fork
      .border
        a(href="/musicIndex") 音乐小窝
.left
  ul#list
    each item in musicCategories.musics
      li(title="#{item.src}")
        | #{item.title}
.right#box
  script(src="/libs/scripts/js/music/MusicVisualizer.min.js")
  script(src="/libs/scripts/js/music/playindex.min.js")

