extends ../../layout

block link
  meta(name="description" content="记录你想听的、在听和听过的唱片，顺便打分、添加标签及个人附注、写评论。根据你的口味，豆瓣会推荐适合的唱片给你。")
  link(href="/libs/css/music/music_index.min.css",rel="stylesheet")
block content
  .wrapper
    .content
      .container-fluid
        .row
          .col-md-6.col-md-offset-1.col-xs-7.col-sm-7.screen
            // 顶部轮播图标签节点
            #galleryFrames.gallery-frames
              .panel.panel-default
                .pannel-body.gallery-hot
                  ul.slide-content.clearfix(style="width: 10000px;")
                    - for(var i = 1; i <= fileList.length; i++)
                      li.slide-item
                        a(href="javascript:;")
                          img(src="/libs/images/music/gallery/" + i + '.jpg' alt="")
                button.slide-prev
                button.slide-next
                ul.slide-dots
                  li.slide-active 1
                  - for(var i = 2; i <= fileList.length; i++)
                    li= i
            .panel.panel-default#editorFeatured.editor-featured
              .panel-heading.screen-header
                h4 编辑推荐
                .slide-tip
                  span.ui-side-index 1
                  span &nbsp;/&nbsp;
                  span.ui-side-max
                  button.slide-prev
                  button.slide-next
              .panel-body.screen-body
                .thumbnail
                  a(href="")
                    img(src="http://img3.douban.com/spic/s1456874.jpg" alt="")
                  .caption
                    p 专辑
                    h5
                      a(href="") 十一月的肖邦
                    p 周杰伦
                    div 周杰伦/ 内地版 /。
                .thumbnail
                  a(href="")
                    img(src="http://img3.douban.com/spic/s1456874.jpg" alt="")
                  .caption
                    p 专辑
                    h5
                      a(href="") 十一月的肖邦
                    p 周杰伦
                    div 周杰伦/ 内地版 /。
            .left-advertisement
              a(href="javascript:;")
                img(src="/libs/images/music/1.jpg" alt="小老虎全国巡演")
            // 新碟榜
            .screen#newAlbums.new-albums
            // 近期热门歌单
            #hotProgrammes
              .class-top
                span 近期热门歌单
                ul
                  li.on: a(href="javascript:;") 最热
                  li: a(href="javascript:;") 流行
                  li: a(href="javascript:;") 摇滚
                  li: a(href="javascript:;") 民谣
                  li: a(href="javascript:;") 原生
                a.more(href="") 更多
              .screen
                .panel-body.screen-body
                  .thumbnail
                    .inner
                      h5
                        a(href="" target="") 听的片刻产生了心动的永恒
                      .content
                        img(src="http://img3.douban.com/spic/s3861315.jpg" alt="")
                        a(href="")
                          p 1.Everything
                          p 2.My Forever
                        span ...
                  .thumbnail
                    .inner
                      h5
                        a(href="" target="") 听的片刻产生了心动的永恒
                      .content
                        img(src="http://img3.douban.com/spic/s3861315.jpg" alt="")
                        a(href="")
                          p 1.Everything
                        span ...
                  .thumbnail
                    .inner
                      h5
                        a(href="" target="") 听的片刻产生了心动的永恒
                      .content
                        img(src="http://img3.douban.com/spic/s3861315.jpg" alt="")
                        a(href="")
                          p 1.Everything
                        span ...
                  .thumbnail
                    .inner
                      h5
                        a(href="" target="") 听的片刻产生了心动的永恒
                      .content
                        img(src="http://img3.douban.com/spic/s3861315.jpg" alt="")
                        a(href="")
                          p 1.Everything
                        span ...
                  .thumbnail
                    .inner
                      h5
                        a(href="" target="") 听的片刻产生了心动的永恒
                      .content
                        img(src="http://img3.douban.com/spic/s3861315.jpg" alt="")
                        a(href="")
                          p 1.Everything
                        span ...
          .col-md-4.col-xs-4.col-sm-4
            // 顶部右侧广告
            .right-advertisement.clearfix
              a(href="/")
                img(src="/libs/images/music/advertisements/1.jpg")
            // 热门音乐人分类
            .tag-block#tagBlock
              .screen
                .billboard-hd.class-top
                  h4 热门音乐人分类
                  a.more(href="javascript:;") 更多
                table.table.table-hover
                  tbody
                    tr
                      td: a 流行
                      td: a 轻音乐
                    tr
                      td: a 摇滚
                      td: a 古典
            // 本周单曲版
            #hotArtistSongs
              .billboard
                .billboard-hd
                  h4 本周单曲榜
                  button.play-button
                    i.glyphicon.glyphicon-play
                    span 播放全部
                .billboard-bd.class-top
                  ul.hot-artistTop
                    li.on: a(href="javascript:;") 最热
                    li: a(href="javascript:;") 摇滚
                    li: a(href="javascript:;") 民谣
                    li: a(href="javascript:;") 流行
                    li: a(href="javascript:;") 电子
                  .hotArtist-songs
                    ul
                      li: a(href="")
                        img(src="http://img3.douban.com/spic/s1430722.jpg")
                        h5 黑暗之光
                        p Maroon 5 / 2次播放
                        span.order 1
                      li: a(href="")
                        img(src="http://img3.douban.com/spic/s1430722.jpg")
                        h5 黑暗之光
                        p Maroon 5 / 2次播放
                        span.order 2
            // 豆瓣音乐250
            #recInfo
              .billboard
                .billboard-hd.class-top
                  h4 豆瓣音乐250
                  a.more(href="") 更多
                .billboard-bd.clearfix
                  .thumbnail
                    a(href="")
                      img(src="http://img3.douban.com/spic/s3524062.jpg")
                      h5 完美的一天
                  .thumbnail
                    a(href="")
                      img(src="http://img3.douban.com/spic/s3524062.jpg")
                      h5 完美的一天
  // 音乐首页JS脚本
  script(src="/libs/scripts/components/componentInit.min.js")
  script(src="/libs/scripts/components/musicBundel.min.js")
