extends ../wechat

block content
	h1 点我搜电影~
	p#title
	div#director
	div#year
	div#poster
	script.
		wx.config({
			debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
			appId: 'wx87ca9022ab0f61fe', // 必填，公众号的唯一标识
			timestamp: '#{timestamp}', // 必填，生成签名的时间戳
			nonceStr: '#{noncestr}', // 必填，生成签名的随机串
			signature: '#{signature}',// 必填，签名，见附录1
			jsApiList: [
				'onMenuShareTimeline',
				'onMenuShareAppMessage',
				'onMenuShareQQ',
				'onMenuShareWeibo',
				'onMenuShareQZone',
				'previewImage',
				'startRecord',
				'stopRecord',
				'onVoiceRecordEnd',
				'translateVoice'
			] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
		})

		wx.ready(function(){
			wx.checkJsApi({
				jsApiList: ['onVoiceRecordEnd'],
				success: function(res) {
					console.log(res)
				}
			})

			var shareContent = {
				title: 'sousousou', // 分享标题
				desc: '我搜出来了啥 ', // 分享描述
				link: 'http://www.cnblogs.com/MuYunyun/', // 分享链接
				imgUrl: 'http://files.cnblogs.com/files/MuYunyun/pkq.gif', // 分享图标
				success: function () { 
					window.alert('分享成功')
				},
				cancel: function () { 
					window.alert('分享失败')
				} 
			}

			wx.onMenuShareAppMessage(shareContent);
			var slides
			var isRecording = false

			$('#poster').on('tap', function() {
				wx.previewImage(slides)
			})

			$('h1').on('tap', function() {
				if (!isRecording){
					isRecording = true
					wx.startRecord({
						cancel: function() {
							window.alert('那就不能搜了哦')
						}
					})
					return
				}

				isRecording = false

				wx.stopRecord({
					success: function (res) {
						var localId = res.localId

						wx.translateVoice({
							localId: localId, // 需要识别的音频的本地Id，由录音相关接口获得
							isShowProgressTips: 1, // 默认为1，显示进度提示
							success: function (res) {
								var result = res.translateResult
								$.ajax({
									type: 'get',
									url: 'https://api.douban.com/v2/movie/search?q=' + result,
									dataType: 'jsonp',
									jsonp: 'callback',
									success: function(data) {
										var subject = data.subjects[0]

										$('#title').html(subject.title)
										$('#year').html(subject.year)
										$('#director').html(subject.directors[0].name)
										$('#poster').html('<img src="' + subject.images.large + '" />')

										shareContent = {
											title: subject.title,
											desc: '我搜出来了 ' + subject.title, // 分享描述
											link: 'https://github.com', // 分享链接
											imgUrl: subject.images.large, // 分享图标
											type: '', // 分享类型,music、video或link，不填默认为link
											dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
											success: function () { 
												window.alert('分享成功')
											},
											cancel: function () { 
												window.alert('分享失败')
											} 
										}

										slides = {
											current: subject.images.large,
											urls: [subject.images.large]
										}

										data.subjects.forEach(function(item) {
											slides.urls.push(item.images.large)
										})

										wx.onMenuShareAppMessage(shareContent);
									}
								})
							}
						})
					}
				})
			})
		})