doctype
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title #{title}
		include ./includes/head
		block link
	body
		include ./includes/header
		block content
		block footer
			.m-footer
				.container-fluid
					.row
						.col-md-offset-1.col-md-10.col-xs-offset-1.col-xs-10
							.footer-img
								a(href="javascript:;")
									img(src="/libs/images/movie/footer/1.gif" alt="footerImg")
						.col-md-1